*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Helvetica;
    background-color: #ddd;
    color: #546e75;
    display: flex;
}
