*{
    box-sizing: border-box;
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.lewo{
    background-color: seagreen;
    color: white;
    height: 260px;
    font-size: 160%;
    text-align: center;
    width: 75%;
}
.obraz{
    height: 250px;
    width: 250px;
}